<mat-card class="col-12 animated fadeIn" style="min-width: 50vw;">
    <mat-card-header>
        <mat-card-title>ID de factura: {{ currentInvoice.id }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-12 row mt-3">
            <p class="col-12 col-md-6">Id cliente: {{ currentInvoice.clientId }}</p>
            <p class="col-12 col-md-6">Fecha de emision: {{ currentInvoice.date | date }}</p>
        </div>
        <mat-divider></mat-divider>
        <h3 class="text-center mt-3">Detalle de la factura</h3>
        <table class="highlight centered responsive-table">
            <thead>
                <th class="text-center">Servicio</th>
                <th class="text-center">Costo</th>
                <th class="text-center">Impuesto</th>
                <th class="text-center">Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let service of currentInvoice.services">
                    <td class="text-center">{{ service.service }} </td>
                    <td class="text-center">{{ ((service.profit / 100) * service.price) + service.price | currency }} </td>
                    <td class="text-center">{{ ((service.tax / 100) * service.price) | currency }}</td>
                    <td class="text-center">{{ ((service.tax / 100) * service.price) + ((service.profit / 100) * service.price) + service.price | currency}} </td>
                </tr>
                <tr>
                    <td class="text-center">Otros </td>
                    <td class="text-center"> {{ currentInvoice.amountOther | currency}} </td>
                    <td class="text-center"> $0.00 </td>
                    <td class="text-center"> {{ currentInvoice.amountOther | currency}} </td>
                </tr>
                <tr>
                    <td class="text-center"><strong>Total</strong> </td>
                    <td class="text-center"> {{ currentInvoice.amountGross | currency}} </td>
                    <td class="text-center"> {{ currentInvoice.amountTax | currency}} </td>
                    <td class="text-center"> <strong> {{ currentInvoice.amountTotal }} </strong></td>
                </tr>
            </tbody>
        </table>

    </mat-card-content>
</mat-card>