<mat-card class="animated fadeIn">
    <mat-card-header>
        <mat-card-title>Generar factura</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-12 row">
            <div class="col-12">
                <form action="" class="row mt-4" #formInvoice="ngForm" [formGroup]="invoiceForm" (ngSubmit)=addInvoice()>
                    <div class="row col-12 col-md-4">
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Cedula del cliente" formControlName="clientId" required>
                            <mat-error *ngIf="invoiceForm.controls">
                                La cedula debe escribirse con el siguiente formato: x-xxxx-xxxx
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Otros cobros" type="number" formControlName="amountOther" (change)=calculateAmounts() required>
                            <mat-error *ngIf="invoiceForm.controls">
                                Debe ser de caracter númerico
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 col-md-4">
                        <p class="col-12">Bruto: {{newInvoice.amountGross | currency}}</p>
                        <p class="col-12">Impuestos: {{newInvoice.amountTax | currency}}</p>
                        <p class="col-12">Total: {{newInvoice.amountGross + newInvoice.amountTax| currency}}</p>
                    </div>
                    <div class="row col-12 col-md-4">
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Monto pagado" type="number" formControlName="payments" required>
                            <mat-error *ngIf="invoiceForm.controls">
                                Debe ser de caracter númerico
                            </mat-error>
                        </mat-form-field>
                        <p class="col-12">Total deuda: {{newInvoice.amountTotal - invoiceForm.value.payments | currency}}</p>
                    </div>
                    <div class="col-12">
                        <h4>Servicios ofrecidos</h4>
                        <mat-divider></mat-divider>
                        <section class="row mt-4" *ngIf="existData">
                            <div class="col-4" *ngFor="let i=index; let service of services" formArraylName="service" (click)="getChecked(service.id, service.service, service.tax, service.profit, service.price)">
                                <mat-checkbox>{{ service.service }}
                                    <small>
                                        ( {{ ((service.tax / 100) * service.price) + ((service.profit / 100) * service.price) + service.price | currency}})
                                    </small>
                                </mat-checkbox>
                            </div>
                        </section>
                        <p *ngIf="!existData">No existen servicios</p>
                    </div>
                    <div class="col-12">
                        <button mat-flat-button color="primary" class="col-12" type="submit">Crear factura</button>
                    </div>

                </form>
            </div>
        </div>

    </mat-card-content>
</mat-card>