<mat-card class="col-12 animated fadeIn" style="min-width: 50vw;">
    <mat-card-header>
        <mat-card-title>Facturas</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row mt-2">
        <div class="col-12 row">
            <div class="col-12">
                <mat-form-field class="col-12">
                    <input matInput placeholder="Cedula del cliente" [(ngModel)]="invoiceId" (ngModelChange)="getInvoices()">
                    <mat-error>
                        La cedula debe escribirse sin guiones. ejem: 9784123
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-12">
                <table class="highlight centered responsive-table" *ngIf="existData">
                    <thead>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Bruto</th>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Pagado</th>
                        <th class="text-center">Saldo</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoice of invoices" [routerLink]="[ '/factura', invoice.id ]">
                            <td class="cursor-pointer text-center">{{ invoice.date.seconds * 1000| date:'shortDate' }} </td>
                            <td class="cursor-pointer text-center">{{ invoice.amountGross | currency }} </td>
                            <td class="cursor-pointer text-center">{{ invoice.amountTax | currency }}</td>
                            <td class="cursor-pointer text-center">{{ invoice.amountTotal | currency }}</td>
                            <td class="cursor-pointer text-center">{{ invoice.amountTotal | currency }} </td>
                            <td class="cursor-pointer text-center">{{ invoice.amountTotal | currency }} </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12" *ngIf="!existData">
                    <h4 class="text-center">
                        No existen facturas para este Id
                    </h4>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>