<mat-card class="animated fadeIn">
    <mat-card-header>
        <mat-card-title>Asignar nueva cita</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-12 row">
            <div class="col-12 col-md-8">
                <form action="" class="row mt-4" #formAppointment="ngForm" [formGroup]="appointmentForm" (ngSubmit)=addAppointment()>
                    <mat-form-field class="col-12 col-md-6">
                        <input matInput [min]="today" [max]="maxDate" [matDatepicker]="picker" placeholder="Elegir fecha" formControlName="date" disabled required [(ngModel)]="filterDate" (ngModelChange)="getAppointments()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="today" disabled="false"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-12 col-md-6">
                        <input matInput placeholder="Cédula del cliente" formControlName="clientId" required>
                        <mat-error *ngIf="appointmentForm.controls">
                            La cedula debe escribirse con el siguiente formato: x-xxxx-xxxx
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6 col-md-3">
                        <input type="time" matInput placeholder="Hora" formControlName="hour" required>
                        <mat-error *ngIf="appointmentForm.controls">
                            Debe seleccionar una hora valida
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6 col-md-3">
                        <input type="number" matInput placeholder="Duración estimada" formControlName="estimatedDuration" required>
                        <span matSuffix>minutos</span>
                        <mat-error *ngIf="appointmentForm.controls">
                            Debe seleccionar un número positivo mayor a 1
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <textarea matInput placeholder="Nota" formControlName="note" required></textarea>
                    </mat-form-field>
                    <button mat-flat-button color="primary" class="col-12" type="submit">Crear cita</button>
                </form>
            </div>
            <div class="col-12 col-md-4">
                <table class="highlight centered responsive-table" *ngIf="existData">
                    <thead>
                        <th class="text-center">Hora</th>
                        <th class="text-center">Duración estimada</th>
                        <th class="text-center">Cliente</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i = index; let appointment of appointments">
                            <td>{{appointment.hour}}</td>
                            <td>{{appointment.estimatedDuration}}</td>
                            <td>{{appointment.clientId}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="mt-4" *ngIf="!existData">No existen citas para el dia seleccionado</h3>
            </div>
        </div>

    </mat-card-content>
</mat-card>