<div class="row">
    <mat-card class="col-12 animated fadeIn">
        <mat-card-header>
            <mat-card-title>Lista de citas</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="row">
            <mat-form-field class="col-12 ">
                <input matInput [matDatepicker]="picker" placeholder="Elegir fecha" disabled [(ngModel)]="filterDate" (ngModelChange)="getAppointments()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="today" disabled="false"></mat-datepicker>
            </mat-form-field>
            <table class="highlight centered responsive-table" *ngIf="existData">
                <thead>
                    <th>Hora</th>
                    <th>Duración estimada</th>
                    <th>Cliente</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let i = index; let appointment of appointments">
                        <td [routerLink]="[ '/cita', appointment.id ]" class="cursor-pointer">{{appointment.hour }}</td>
                        <td [routerLink]="[ '/cita', appointment.id ]" class="cursor-pointer">{{appointment.estimatedDuration }}</td>
                        <td [routerLink]="[ '/cita', appointment.id ]" class="cursor-pointer">{{appointment.clientId }}</td>
                        <td class="hover-primary">
                            <button mat-icon-button aria-label="Boton para editar cita" [routerLink]="[ '/cita', appointment.id ]"><mat-icon>edit</mat-icon></button>
                        </td>
                        <td class="hover-primary">
                            <button mat-icon-button aria-label="Boton para eliminar cita" (click)="deleteAppointment(appointment.id)"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12" *ngIf="!existData">
                <h4>
                    No existen citas para la fecha seleccionada
                </h4>
            </div>
        </mat-card-content>
    </mat-card>
</div>