<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="alto">
    <mat-sidenav #drawer mode="side" role="navigation">
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content class="container centrado mt-4">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>