<mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Bienvenido a citasApp</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Elija un metodo de acceso para entrar al sistema
        </p>
        <firebase-ui></firebase-ui>
    </mat-card-content>
</mat-card>