<mat-card class="animated fadeIn">
    <mat-card-header>
        <mat-card-title>Información de la cita</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-12">
            <form action="" class="row mt-4" #formAppointment="ngForm" [formGroup]="appointmentForm" (ngSubmit)=updateAppointment()>
                <mat-form-field class="col-12 col-md-6">
                    <input matInput placeholder="Nombre del cliente" formControlName="clientId" required>
                    <mat-error *ngIf="appointmentForm.controls">
                        La cedula debe escribirse con el siguiente formato: x-xxxx-xxxx
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-12 col-md-6">
                    <input matInput [min]="today" [max]="maxDate" [matDatepicker]="picker" placeholder="Elegir fecha" formControlName="date" disabled required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-6 col-md-3">
                    <input type="time" matInput placeholder="Hora" formControlName="hour" required>
                    <mat-error *ngIf="appointmentForm.controls">
                        Debe seleccionar una hora valida
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-6 col-md-3">
                    <input type="number" matInput placeholder="Duración estimada" formControlName="estimatedDuration" required>
                    <span matSuffix>minutos</span>
                    <mat-error *ngIf="appointmentForm.controls">
                        Debe seleccionar un número positivo mayor a 1
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12 col-md-6">
                    <textarea matInput placeholder="Nota" formControlName="note" required></textarea>
                </mat-form-field>
                <button mat-flat-button color="primary" class="col-12" type="submit">Editar información de la cita</button>
            </form>

        </div>

    </mat-card-content>
</mat-card>