<h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>
<mat-dialog-content *ngIf="data.content">{{data.content}}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" *ngIf="data.button1Text">{{data.button1Text}}</button>
    <button mat-button mat-dialog-close *ngIf="data.button2Text">{{data.button2Text}}</button>
</mat-dialog-actions>