<mat-nav-list>
    <a matLine href="#" routerLink="login">
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            {{email}}
        </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <a *ngFor="let link of links" matLine href="#" routerLink="{{link.url}}">
        <mat-list-item>
            <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
            {{link.text}}
        </mat-list-item>

    </a>
    <mat-divider></mat-divider>
    <a matLine href="#" (click)="logouts()">
        <mat-list-item>
            <mat-icon mat-list-icon>highlight_off</mat-icon>
            Cerrar sesión
        </mat-list-item>
    </a>
</mat-nav-list>