/* You can add global styles to this file, and also import other style files */

@import 'scss/reboot.scss',
'scss/variables.scss',
'scss/utilities.scss',
'scss/table.scss',
'scss/grid.scss',
'scss/animate.scss';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}