.hover-primary {
     :hover {
        color: $primary-color;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: $primary-color;
}