<mat-card class="col-12 animated fadeIn" style="min-width: 50vw;">
    <mat-card-header>
        <mat-card-title>Gestion de servicios</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-12 row">
            <div class="col-12 col-md-6">
                <table class="highlight centered responsive-table" *ngIf="existData">
                    <thead>
                        <th class="text-center">Servicio</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">Ganancia</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Eliminar</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of services">
                            <td class="cursor-pointer text-center">{{ service.service }} </td>
                            <td class="cursor-pointer text-center">{{ service.price | currency }} </td>
                            <td class="cursor-pointer text-center">{{ service.tax / 100 | percent }}</td>
                            <td class="cursor-pointer text-center">{{ service.profit / 100 | percent }}</td>
                            <td class="cursor-pointer text-center">{{ ((service.tax / 100) * service.price) + ((service.profit / 100) * service.price) + service.price | currency}} </td>
                            <td class="hover-primary text-center">
                                <button mat-icon-button aria-label="Boton para eliminar cita" (click)="deleteService(service.id)"><mat-icon>delete</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!existData">
                    <h4>
                        No existen servicios
                    </h4>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="mt-4">Agregar servicios</h3>
                <form action="" class="row mt-4" #formAppointment="ngForm" [formGroup]="serviceForm" (ngSubmit)=addService()>
                    <mat-form-field class="col-12 col-md-12">
                        <input matInput placeholder="Nombre del servicio" formControlName="service" required>
                        <mat-error *ngIf="serviceForm.controls">
                            Debe contener un mínimo de 4 carácteres alfanuméricos
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6 col-md-4">
                        <input type="number" matInput placeholder="Costo" formControlName="price" required>
                        <mat-error *ngIf="serviceForm.controls">
                            Debe agregar un precio valido 1.00
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6 col-md-4">
                        <input type="number" matInput placeholder="Ganancia estimada en %" formControlName="profit" required>
                        <mat-error *ngIf="serviceForm.controls">
                            La ganancia no debe ser mayor al precio de venta y debe ser un valor númerico
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6 col-md-4">
                        <input type="number" matInput placeholder="Impuesto en %" formControlName="tax">
                        <mat-error *ngIf="serviceForm.controls">
                            El impueto debe ser numerico
                        </mat-error>
                    </mat-form-field>

                    <button mat-flat-button color="primary" class="col-12" type="submit">Agregar servicio</button>
                </form>
            </div>
        </div>


    </mat-card-content>
</mat-card>